{% extends "base.html" %}
{% block title %} Afficher GENRES {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Medecin
			</p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            id_medecin
                        </th>
                        <th class="align-middle">
                            nom_medecin
                        </th>
                        <th class="align-middle">
							prenome_medecin
                        </th>
                        <th class="align-middle">
							specialite
                        </th>
                        <th class="align-middle">
                            telephone
                        </th>
                        <th class="align-middle">
                            email
                        </th>
                        <th class="align-middle">

                        </th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.id_medecin }}
						</td>
						<td class="align-middle">
							{{ row.nom_medecin }}
						</td>
						<td class="align-middle">
							{{ row.prenome_medecin }}
						</td>
                        <td class="align-middle">
							{{ row.fk_specialite }} {# Replace with specialite name if you join tables #}
						</td>
                        <td class="align-middle">
							{{ row.telephone }}
						</td>
                        <td class="align-middle">
							{{ row.email }}
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('medecin_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('medecin_update_wtf', id_medecin_btn_edit_html=row.id_medecin) }}" role="button">Edit</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('medecin_delete_wtf', id_medecin_btn_delete_html=row.id_medecin) }}" role="button">Delete</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucun medecin.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('medecin_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}

