{% extends "base.html" %}
{% block title %} Редактировать консультацию {% endblock %}
{% block body %}
<div class="container">
    <h1>Редактировать консультацию</h1>
    <form action="" method="POST" novalidate>
        {{ form_update.hidden_tag() }}
        {{ form_update.id_consultation_hidden() }}
        <div class="form-group">
            {{ form_update.fk_medecin.label }}
            {{ form_update.fk_medecin(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form_update.fk_patient.label }}
            {{ form_update.fk_patient(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form_update.date_consultation.label }}
            {{ form_update.date_consultation(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-success">
            {{ form_update.submit.label }}
        </button>
    </form>
</div>
{% endblock %}
