{% extends "base.html" %}
{% block title %} Afficher consultations {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                Consultations
            </p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">id_consultation</th>
                        <th class="align-middle">Médecin</th>
                        <th class="align-middle">Patient</th>
                        <th class="align-middle">Date de consultation</th>
                        <th class="align-middle"></th>
                    </tr>
                </thead>
            {% endif %}
            {% for row in data %}
                <tbody>
                    <tr>
                        <td class="align-middle">{{ row.id_consultation }}</td>
                        <td class="align-middle">{{ row.nom_medecin }}</td>
                        <td class="align-middle">{{ row.nom_pationt }}</td>
                        <td class="align-middle">{{ row.date_consultation }}</td>
                        <td class="text-center align-middle">
                            <a class="btn btn-primary" href="{{ url_for('consultation_ajouter_wtf') }}" role="button">Ajouter</a>
                        </td>
                        <td class="text-center align-middle">
                            <a class="btn btn-warning" href="{{ url_for('consultation_update_wtf', id_consultation_btn_edit_html=row.id_consultation) }}" role="button">Modifier</a>
                        </td>
                        <td class="text-center align-middle">
                            <a class="btn btn-danger" href="{{ url_for('consultation_delete_wtf', id_consultation_btn_delete_html=row.id_consultation) }}" role="button">Supprimer</a>
                        </td>
                    </tr>
                </tbody>
            {% else %}
                <tbody>
                    <tr>
                        <td>
                            Aucune consultation.
                        </td>
                        <td>
                            <a class="btn btn-primary" href="{{ url_for('consultation_ajouter_wtf') }}" role="button">Ajouter</a>
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}

