{% extends "base.html" %}
{% block title %} Afficher Pationt {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-12">
		<table class="table table-responsive-sm">
            {% if data %}
				<thead>
					<tr>
						<th class="" >
						  id_pationt
						</th>
						<th class="" >
						  nom_pationt
						</th>
						<th class="" >
						  prenome_pationt
						</th>
						<th class="" >
						  date_naissance
						</th>
						<th class="" >
						  adresse
						</th>
						<th class="" >
						  telephone
						</th>
                        <th class="" >
						  email
						</th>
					</tr>
				</thead>
			{% endif %}
			{% for row in data %}
			<tbody>
				<tr>
					  <th class="align-middle">
						  {{ row.id_pationt }}
					  </th>
					  <th class="align-middle">
						{{ row.nom_pationt }}
					  </th>
					  <th class="align-middle">
						{{ row.prenome_pationt }}
					  </th>
					  <th class="align-middle">
						{{ row.date_naissance }}
					  </th>
					  <th class="align-middle">
						{{ row.adresse }}
					  </th>
					  <th class="align-middle">
						{{ row.telephone }}
                      </th>
                    <th class="align-middle">
						{{ row.email }}
                      </th>
					  <th class="align-middle">
						<a class="btn btn-primary" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Ajouter</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-warning" href="{{ url_for('film_update_wtf', id_film_btn_edit_html=row.id_pationt) }}" role="button">Edit</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-danger" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Delete</a>
					  </th>
					<tr>
						<td class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('edit_genre_film_selected', id_film_genres_edit_html=row.id_pationt) }}" role="button">Modifier</a>
						</td>
						<td class="align-middle" colspan="5">
							{{ row.GenresFilms|default("PAS DE GENRES", True) }}
						</td>
					</tr>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucun film.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
			{% endfor %}

		</table>
	</div>
</div>
{% endblock %}
