{% extends "base.html" %}
{% block title %} Modifier une spécialité {% endblock %}
{% block body %}
<div class="container">
	<h1>Modifier une spécialité</h1>
	<form action="" method="POST" novalidate>
		{{ form_update.hidden_tag() }}
		{{ form_update.id_specialite_hidden() }}
		<div class="form-group">
			{{ form_update.nom_specialite_update_wtf.label }}
			{{ form_update.nom_specialite_update_wtf(class="form-control") }}
			{% for error in form_update.nom_specialite_update_wtf.errors %}
				<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</div>
		<button type="submit" class="btn btn-success">
			{{ form_update.submit.label }}
		</button>
	</form>
</div>
{% endblock %}

